.cont-list{
width:40%;
float: left;
}
.cont-details{
    width:40%;
    float: right;
    }
    .title-header{
        font-weight: bold;
        color: steelblue;
        font-size: x-large;
        font-family: cursive;
    }