h3{
    border: 2px solid black;
}

.details-wrapper{
    border: 2px solid black;
}

img{
    height: 150px;
    width: 100%;
}

.info{
    border: 2px solid gray;
}

.remove-img{
    position: absolute;
    left: 35px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}

a, .topic{
    text-decoration: underline;
}

.title{
    font-weight: bold;
    color: steelblue;
    font-size: x-large;
    font-family: cursive;
}